#body{
    background-color: white;
}
.carImg{
    height: 15%;
    width: 100%;
}
#carouselExampleIndicators{
    width: 50%;
    margin: auto;
}
#aptmDescription{
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}
.column{
    display: inline-block;
}
.modalImages{
    height: 100px;
    width: 100px;
}
#modalimage{
    height: 250px;
}
